<!DOCTYPE html>

<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load   i18n static %}

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.21.1/dist/bootstrap-table.min.css">


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
            integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
            integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-table@1.21.1/dist/bootstrap-table.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <style>
  .fixed-button {
    position: fixed;
    left: 0%;
    top: 2%;
    transform: translateY(-50%);
  }
</style>
</head>
<!--<body class="container bg-body" style="background-image: url('/static/img/bg-5.fw.png')">-->
<body class="container bg-light" style="background-image: url('{% static 'bg-gray.png' %}')" >
{% block sidebar %}
    <!-- 侧边栏 -->
<button class="btn   btn-outline-primary fixed-button" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar" aria-controls="sidebar">
  系统导航
</button>


<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="sidebar" aria-labelledby="sidebarLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="sidebarLabel">佛学院教务管理系统</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="list-unstyled">
      <li><a href="#" class="link-dark">主页</a></li>
      <li><a href="/manager/teachers/teacher_info" class="link-dark">教师信息管理</a></li>
      <li><a href="/manager/student_info" class="link-dark">学生信息管理</a></li>
      <li><a href="#" class="link-dark">课件管理</a></li>
    </ul>
  </div>
</div>
{% endblock %}
<div class="banner text-center"><h3></h3></div>
<div class="container">

    {% block list1 %}

    {% endblock %}


</div>
<div class="container bg-white " style="background-image: url('{% static 'bg-gray.png' %}')">
    {% block nav %}

    {% endblock %}
</div>

{% block left_sidebar %}

{% endblock %}
{% block main %}
{% endblock %}
<div class="container">
    <div class="row" style="margin-left: 0px">
        <div class="col-1" style="padding-left: 0px;padding-right: 0px">
            {% block left_title %}

            {% endblock %}
        </div>
        <div class="col-lg " style="padding-left: 0px;padding-right: 0px">
            {% block main_list %}

            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>