{% extends 'manager/base.html' %}
{% load crispy_forms_tags %}
{% load   i18n static %}
{% block main %}
    <!--<div class="container">
        <div class="row row-cols-2">
            <div class="col">姓名:</div>
            <div class="col">{{ form.name }}</div>
            <div class="col">姓名:</div>
            <div class="col">{{ form.name }}</div>
        </div>
    </div>-->
    <!--  <form>{{ form|crispy}}</form>-->
    <div class="container bg-white " style="background-image: url('{% static 'bg-gray.png' %}')">

        <nav class="row justify-content-xl-center" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb col-4 fs-4">
                <li class="breadcrumb-item"><a href="{% url 'student_info' %}">教务管理系统</a></li>

                <li class="breadcrumb-item active" aria-current="page">修改教师信息</li>
            </ol>
        </nav>
        <nav>
            <div class="nav nav-tabs justify-content-md-center" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-basicInfo-tab" data-bs-toggle="tab" data-bs-target="#basicInfo"
                        type="button" role="tab" aria-controls="nav-home" aria-selected="true">基本信息
                </button>
                <button class="nav-link" id="nav-professionalInfo-tab" data-bs-toggle="tab" data-bs-target="#professionalInfo"
                        type="button" role="tab" aria-controls="nav-profile" aria-selected="false">职业信息
                </button>
                <button class="nav-link" id="nav-careerInfo-tab" data-bs-toggle="tab" data-bs-target="#careerInfo"
                        type="button"
                        role="tab" aria-controls="nav-contact" aria-selected="false">工作经历
                </button>
                <button class="nav-link" id="nav-familyInfo-tab" data-bs-toggle="tab" data-bs-target="#familyInfo"
                        type="button"
                        role="tab" aria-controls="nav-contact" aria-selected="false">家庭信息
                </button>


            </div>
        </nav>
        <script>


            $(document).ready(function () {

                window.onload = function () {
                    // $('td').children("button").hide();
                    $("#basicInfo").removeClass("d-none");
                    $("#professionalInfo").addClass("d-none");
                    $("#careerInfo").addClass("d-none");
                    $("#familyInfo").addClass("d-none");
                    $("#fileInfo").addClass("d-none");
                }
                $("#nav-basicInfo-tab").click(function () {
                    $("#basicInfo").removeClass("d-none");
                    $("#professionalInfo").addClass("d-none");
                    $("#careerInfo").addClass("d-none");
                    $("#familyInfo").addClass("d-none");
                    $("#fileInfo").addClass("d-none");
                    //alert("1111");
                });
                $("#nav-professionalInfo-tab").click(function () {
                    $("#basicInfo").addClass("d-none");
                    $("#professionalInfo").removeClass("d-none");
                    $("#careerInfo").addClass("d-none");
                    $("#familyInfo").addClass("d-none");
                    $("#fileInfo").addClass("d-none");
                    //alert("1111");
                });
                $("#nav-careerInfo-tab").click(function () {
                    $("#basicInfo").addClass("d-none");
                    $("#professionalInfo").addClass("d-none");
                    $("#careerInfo").removeClass("d-none");
                    $("#familyInfo").addClass("d-none");
                    $("#fileInfo").addClass("d-none");
                    //alert("1111");
                });
                $("#nav-familyInfo-tab").click(function () {
                    $("#basicInfo").addClass("d-none");
                    $("#professionalInfo").addClass("d-none");
                    $("#careerInfo").addClass("d-none");
                    $("#familyInfo").removeClass("d-none");
                    $("#fileInfo").addClass("d-none");
                    // alert("1111");
                });
                $("#nav-fileInfo-tab").click(function () {
                    $("#basicInfo").addClass("d-none");
                    $("#professionalInfo").addClass("d-none");
                    $("#careerInfo").addClass("d-none");
                    $("#familyInfo").addClass("d-none");
                    $("#fileInfo").removeClass("d-none");
                    //alert("1111");
                });

            });
        </script>
        <form name="form" method="post" enctype="multipart/form-data">{% csrf_token %}

            <div id="basicInfo" class="row fade active show tab-pane justify-content-md-center">

                <div class="col-md-5 justify-content-md-center">
                    <ul class="list-group ">
                        <!--  <li class="list-group-item bg-warning">基本信息</li>-->

                        <li class="list-group-item"> 姓名：{{ form.name}}</li>
                        <li class="list-group-item"> 曾用名：{{ form.pname}}</li>
                        <li class="list-group-item"> 性别：{{ form.xb}}</li>
                        <li class="list-group-item">年龄：{{ form.age }}</li>
                        <li class="list-group-item">政治面貌：{{ form.zzmm }}</li>
                        <li class="list-group-item">入党时间：{{ form.rdsj }}</li>
                        <li class="list-group-item">文化程度：{{ form.whcd }}</li>
                        <li class="list-group-item">民族：{{ form.minzu }}</li>
                        <li class="list-group-item">出生日期：{{ form.birth_date }}</li>
                        <li class="list-group-item">籍贯：{{ form.jiguan }}</li>
                        <li class="list-group-item">婚姻状况：{{ form.hyzk }}</li>
                        <li class="list-group-item">身份证：{{ form.sfid }}</li>
                        <li name="tel" class="list-group-item">电话：{{ form.tel }}</li>
                        <li class="list-group-item">地址：{{ form.adress }}</li>

                    </ul>
                </div>
            </div>

             <div id="professionalInfo" class="row fade active show tab-pane justify-content-md-center">

                <div class="col-md-5 justify-content-md-center">
                    <ul class="list-group ">
                        <!--  <li class="list-group-item bg-warning">基本信息</li>-->

                        <li class="list-group-item"> 职称：{{ form.title}}</li>
                        <li class="list-group-item"> 职务：{{ form.position}}</li>
                        <li class="list-group-item"> 职级：{{ form.level}}</li>
                        <li class="list-group-item">分管工作：{{ form.work_desc }}</li>
                        <li class="list-group-item">教师资格证：{{ form.cert }}</li>
                        <li class="list-group-item">普通话等级证书：{{ form.chinese_level }}</li>

                    </ul>
                </div>
            </div>
               <div id="careerInfo" class="row tab-pane fade justify-content-md-center">
                <div class="col-md-5">
                    <ul class="list-group">


                        <li class="list-group-item">起始时间：{{ form.job1_st }}</li>
                        <li class="list-group-item">结束时间：{{ form.job1_ed }}</li>
                        <li class="list-group-item">单位：{{ form.job1_dw }}</li>
                        <li class="list-group-item">职位：{{ form.job1_pt }}</li>


                        <li class="list-group-item  ">
                            <button type="button" class="btn btn-sm btn-outline-info  float-end" onclick="addNewMb2()">
                                +工作经历
                            </button>
                        </li>
                    </ul>
                </div>

                <div class="row justify-content-md-center">
                    <div id="career2" class="col-md-5"></div>
                </div>
                <div class="row justify-content-md-center">
                    <div id="career3" class="col-md-5"></div>
                </div>
                <div class="row justify-content-md-center">
                    <div id="career4" class="col-md-5"></div>
                </div>
                <div class="row justify-content-md-center">
                    <div id="career5" class="col-md-5"></div>
                </div>


            </div>


            <div id="familyInfo" class="row tab-pane fade justify-content-md-center">
                <div class="col-md-5">
                    <ul class="list-group">


                        <li class="list-group-item">称谓：{{ form.fm1_title }}</li>
                        <li class="list-group-item">姓名：{{ form.fm1_name }}</li>
                        <li class="list-group-item">政治面貌：{{ form.fm1_political_status }}</li>
                        <li class="list-group-item">工作情况：{{ form.fm1_work_unit }}</li>
                        <li class="list-group-item">电话 ：{{ form.fm1_position }}</li>

                        <li class="list-group-item  ">
                            <button type="button" class="btn btn-sm btn-outline-info  float-end" onclick="addNewMb()">
                                +家庭成员
                            </button>
                        </li>
                    </ul>
                </div>

                <div class="row justify-content-md-center">
                    <div id="fmy2" class="col-md-5"></div>
                </div>
                <div class="row justify-content-md-center">
                    <div id="fmy3" class="col-md-5"></div>
                </div>
                <div class="row justify-content-md-center">
                    <div id="fmy4" class="col-md-5"></div>
                </div>
                <div class="row justify-content-md-center">
                    <div id="fmy5" class="col-md-5"></div>
                </div>


            </div>

            <div class="row justify-content-md-center">
                <div class="col-md-5"><input class="btn btn-success" type="submit" value="修改"></div>
            </div>

        </form>
    {% if form.errors %}
<div class="alert alert-danger">
    <ul>
        {% for field_errors in form.errors.values %}
        {% for error in field_errors %}
        <li>{{ error }}</li>
        {% endfor %}
        {% endfor %}
    </ul>
</div>
{% endif %}
    </div>


    <script>

        a = 2;

        function addNewMb() {
            var html_;
            var html2 =
                '<ul class="list-group">\
                    <li class="list-group-item">称谓：{{ form.fm1_title }}</li>\
                    <li class="list-group-item">姓名：{{ form.fm1_name }}</li>\
                    <li class="list-group-item">政治面貌：{{ form.fm1_political_status }}</li>\
                    <li class="list-group-item">工作情况：{{ form.fm1_work_unit }}</li>\
                    <li class="list-group-item">电话 ：{{ form.fm1_position }}</li>\
                    <li class="list-group-item  ">\
                            <button type="button" class="btn btn-sm btn-outline-info  float-end" onclick="addNewMb()">\
                                +家庭成员\
                            </button>\
                        </li>\
                </ul> '

            var html3 =
                '<ul class="list-group">\
                    <li class="list-group-item">称谓：{{ form.fm2_title }}</li>\
                    <li class="list-group-item">姓名：{{ form.fm2_name }}</li>\
                    <li class="list-group-item">政治面貌：{{ form.fm2_political_status }}</li>\
                    <li class="list-group-item">工作情况：{{ form.fm2_work_unit }}</li>\
                    <li class="list-group-item">电话 ：{{ form.fm2_position }}</li>\
                    <li class="list-group-item  ">\
                            <button type="button" class="btn btn-sm btn-outline-info  float-end" onclick="addNewMb()">\
                                +家庭成员\
                            </button>\
                        </li>\
                </ul> '
            var html4 =
                '<ul class="list-group">\
                    <li class="list-group-item">称谓：{{ form.fm3_title }}</li>\
                    <li class="list-group-item">姓名：{{ form.fm3_name }}</li>\
                    <li class="list-group-item">政治面貌：{{ form.fm3_political_status }}</li>\
                    <li class="list-group-item">工作情况：{{ form.fm3_work_unit }}</li>\
                    <li class="list-group-item">电话 ：{{ form.fm3_position }}</li>\
                   <li class="list-group-item  ">\
                            <button type="button" class="btn btn-sm btn-outline-info  float-end" onclick="addNewMb()">\
                                +家庭成员\
                            </button>\
                        </li>\
                </ul> '
            var html5 =
                '<ul class="list-group">\
                    <li class="list-group-item">称谓：{{ form.fm4_title }}</li>\
                    <li class="list-group-item">姓名：{{ form.fm4_name }}</li>\
                    <li class="list-group-item">政治面貌：{{ form.fm4_political_status }}</li>\
                    <li class="list-group-item">工作情况：{{ form.fm4_work_unit }}</li>\
                    <li class="list-group-item">电话 ：{{ form.fm4_position }}</li>\
                    <li class="list-group-item  ">\
                            <button type="button" class="btn btn-sm btn-outline-info  float-end" onclick="addNewMb()">\
                                +家庭成员\
                            </button>\
                        </li>\
                </ul> '
            switch (a) {
                case 2:
                    html_ = html2;
                    break;
                case 3:
                    html_ = html3;
                    break;
                case 4:
                    html_ = html4;
                    break;
                case 5:
                    html_ = html5;
                    break;
            }

            document.getElementById('fmy' + a).innerHTML = html_;
            a++;

        }

        function validateForm(){
            var x=document.forms['form']['tel'].value;

            alert(x)
        }
    </script>


    <script>

        a2 = 2;

        function addNewMb2() {
            var html_;
            var html2 =
                '<ul class="list-group">\
                     <li class="list-group-item">起始时间：{{ form.job1_st }}</li>\
                        <li class="list-group-item">结束时间：{{ form.job1_ed }}</li>\
                        <li class="list-group-item">单位：{{ form.job1_dw }}</li>\
                        <li class="list-group-item">职位：{{ form.job1_pt }}</li>\
                        <li class="list-group-item  ">\
                            <button type="button" class="btn btn-sm btn-outline-info  float-end" onclick="addNewMb2()">\
                                +工作经历\
                            </button>\
                        </li>\
                </ul> '

            var html3 =
                '<ul class="list-group">\
                     <li class="list-group-item">起始时间：{{ form.job2_st }}</li>\
                        <li class="list-group-item">结束时间：{{ form.job2_ed }}</li>\
                        <li class="list-group-item">单位：{{ form.job2_dw }}</li>\
                        <li class="list-group-item">职位：{{ form.job2_pt }}</li>\
                          <li class="list-group-item  ">\
                            <button type="button" class="btn btn-sm btn-outline-info  float-end" onclick="addNewMb2()">\
                                +工作经历\
                            </button>\
                        </li>\
                </ul> '
            var html4 =
               '<ul class="list-group">\
                     <li class="list-group-item">起始时间：{{ form.job3_st }}</li>\
                        <li class="list-group-item">结束时间：{{ form.job3_ed }}</li>\
                        <li class="list-group-item">单位：{{ form.job3_dw }}</li>\
                        <li class="list-group-item">职位：{{ form.job3_pt }}</li>\
                          <li class="list-group-item  ">\
                            <button type="button" class="btn btn-sm btn-outline-info  float-end" onclick="addNewMb2()">\
                                +工作经历\
                            </button>\
                        </li>\
                </ul> '
            var html5 =
                '<ul class="list-group">\
                     <li class="list-group-item">起始时间：{{ form.job4_st }}</li>\
                        <li class="list-group-item">结束时间：{{ form.job4_ed }}</li>\
                        <li class="list-group-item">单位：{{ form.job4_dw }}</li>\
                        <li class="list-group-item">职位：{{ form.job4_pt }}</li>\
                          <li class="list-group-item  ">\
                            <button type="button" class="btn btn-sm btn-outline-info  float-end" onclick="addNewMb2()">\
                                +工作经历\
                            </button>\
                        </li>\
                </ul> '
            switch (a2) {
                case 2:
                    html_ = html2;
                    break;
                case 3:
                    html_ = html3;
                    break;
                case 4:
                    html_ = html4;
                    break;
                case 5:
                    html_ = html5;
                    break;
            }

            document.getElementById('career' + a2).innerHTML = html_;
            a2++;

        }

        function validateForm(){
            var x=document.forms['form']['tel'].value;

            alert(x)
        }
    </script>
{% endblock %}